<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="layout/_header :: header"></div>
<div>
    <h1>Welcome to DogApp!</h1>
    <button th:onclick="'showRegisterModal()'">Register</button>
    <button th:onclick="'showLoginModal()'">Log In</button>
</div>
<div th:replace="auth/register :: registerModal"></div>
<div th:replace="auth/login :: loginModal"></div>
<div th:replace="layout/_footer :: footer"></div>
<script th:src="@{/js/modal.js}"></script>
</body>
</html>